<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Chi tiết sản phẩm</h1>
    </div>
    <div class="row">
        <div class="col">
            <form action="">   
        
                <label for="">Ten</label>
                <input type="text" class="form-control" ng-model="product.name" disabled>
      
                <label for="">gia</label>
                <input type="number" class="form-control" ng-model="product.price" disabled><br>
                
                <label for="">Anh</label>
                <input type="text" class="form-control" ng-model="product.image"><br>
                
                <label for="">Mô tả</label>
                <input type="text" class="form-control" ng-model="product.description" disabled>  
            </form>
        </div>
    </div>
</div>
